<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= pageTitle %></title>
    <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <meta name="pagename" content="Node.js / MVC (Model View Controller) / Restfull API / MongoDB">
    <meta name="description" content="Node.js / MVC (Model View Controller) / Restfull API / MongoDB">
    <meta name="keywords" content="node.js, mvc, model, view, controller, restfull, api, mongodb">
    <meta name="classification" content="application">
    <meta name="author" content="Mile Mijatović, mile@milemijatovic.com">
    <meta name="reply-to" content="mile@milemijatovic.com">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="robots" content="follow, noodp">
    <!-- Apple meta tags -->
    <meta name="apple-mobile-web-app-title" content="Node.js / MVC (Model View Controller) / Restfull API / MongoDB">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#232a34">
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- Windows 8 meta tags -->
    <meta name="application-name" content="Node.js / MVC (Model View Controller) / Restfull API / MongoDB">
    <!-- Open Graph meta tags -->
    <meta property="og:locale" content="en_EN">
    <meta property="og:type" content="application">
    <meta property="og:title" content="Node.js / MVC (Model View Controller) / Restfull API / MongoDB">
    <meta property="og:description" content="Node.js / MVC (Model View Controller) / Restfull API / MongoDB">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Node.js / MVC (Model View Controller) / Restfull API / MongoDB">
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="2400">
    <meta property="og:image:height" content="1260">
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Node.js / MVC (Model View Controller) / Restfull API / MongoDB">
    <meta name="twitter:description" content="Node.js / MVC (Model View Controller) / Restfull API / MongoDB">
    <meta name="twitter:url" content="">
    <meta name="twitter:image" content="">
    <!-- HTML meta links -->
    <link rel="canonical" href="">
    <link rel="bookmark" title="Node.js / MVC (Model View Controller) / Restfull API / MongoDB" href="">
    <link rel="image_src" href="">
    <!-- Favicons -->
    <%#<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#232a34">
    <meta name="theme-color" content="#232a34">  %>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>