<nav class="navbar shadow-sm mb-5 navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="<%= pageId  === '/' ? 'nav-item active' : 'nav-item' %>">
        <a class="nav-link" href="/">Shop</a>
      </li>
      <li class="<%= pageId  === '/admin/add-product' ? 'nav-item active' : 'nav-item' %>">
        <a class="nav-link" href="/admin/add-product">Add Product</a>
      </li>
    </ul>
  </div>
</nav>   
