
<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <div class="form-group row">
            <div class="col-lg-5 mx-auto">
                <form action="/admin/add-product" method="POST">
                    <div class="form-group">
                        <label for="product-title">Product Title</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="Enter your product title">
                    </div>
                    <div class="form-group">
                        <label for="product-description">Product Description</label>
                        <textarea class="form-control" name="description" id="product-description" cols="30" rows="10" placeholder="Enter your product description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </form>
            </div>
        </div>
    </div>    
<%- include('includes/end.ejs') %>

