@mixin badge-variant($bg) {
  color: color-yiq($bg);
  background-color: $bg;

<<<<<<< HEAD
<<<<<<< HEAD
  @at-root a#{&} {
    @include hover-focus {
      color: color-yiq($bg);
      background-color: darken($bg, 10%);
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $badge-focus-width rgba($bg, .5);
    }
=======
=======
>>>>>>> b695cb8... Updating EJS Template
  &[href] {
    @include hover-focus {
      color: color-yiq($bg);
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
<<<<<<< HEAD
>>>>>>> b581025... Updating EJS Template
=======
<<<<<<< HEAD
>>>>>>> b581025fadbdd1c5532877325f463d1b99650a7a
=======
>>>>>>> b695cb8... Updating EJS Template
>>>>>>> 060937b... Rebase
  }
}
