// Pagination

@mixin pagination-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  .page-link {
    padding: $padding-y $padding-x;
<<<<<<< HEAD
<<<<<<< HEAD
    @include font-size($font-size);
=======
    font-size: $font-size;
<<<<<<< HEAD
>>>>>>> b581025... Updating EJS Template
=======
>>>>>>> b581025fadbdd1c5532877325f463d1b99650a7a
=======
    font-size: $font-size;
>>>>>>> b695cb8... Updating EJS Template
>>>>>>> 060937b... Rebase
    line-height: $line-height;
  }

  .page-item {
    &:first-child {
      .page-link {
        @include border-left-radius($border-radius);
      }
    }
    &:last-child {
      .page-link {
        @include border-right-radius($border-radius);
      }
    }
  }
}
