<<<<<<< HEAD
<<<<<<< HEAD
// Inline code
code {
  @include font-size($code-font-size);
=======
=======
>>>>>>> b695cb8... Updating EJS Template
// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

// Inline code
code {
  font-size: $code-font-size;
<<<<<<< HEAD
>>>>>>> b581025... Updating EJS Template
=======
<<<<<<< HEAD
>>>>>>> b581025fadbdd1c5532877325f463d1b99650a7a
=======
>>>>>>> b695cb8... Updating EJS Template
>>>>>>> 060937b... Rebase
  color: $code-color;
  word-break: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

// User input typically entered via keyboard
kbd {
  padding: $kbd-padding-y $kbd-padding-x;
<<<<<<< HEAD
<<<<<<< HEAD
  @include font-size($kbd-font-size);
=======
  font-size: $kbd-font-size;
<<<<<<< HEAD
>>>>>>> b581025... Updating EJS Template
=======
>>>>>>> b581025fadbdd1c5532877325f463d1b99650a7a
=======
  font-size: $kbd-font-size;
>>>>>>> b695cb8... Updating EJS Template
>>>>>>> 060937b... Rebase
  color: $kbd-color;
  background-color: $kbd-bg;
  @include border-radius($border-radius-sm);
  @include box-shadow($kbd-box-shadow);

  kbd {
    padding: 0;
<<<<<<< HEAD
<<<<<<< HEAD
    @include font-size(100%);
=======
    font-size: 100%;
<<<<<<< HEAD
>>>>>>> b581025... Updating EJS Template
=======
>>>>>>> b581025fadbdd1c5532877325f463d1b99650a7a
=======
    font-size: 100%;
>>>>>>> b695cb8... Updating EJS Template
>>>>>>> 060937b... Rebase
    font-weight: $nested-kbd-font-weight;
    @include box-shadow(none);
  }
}

// Blocks of code
pre {
  display: block;
<<<<<<< HEAD
<<<<<<< HEAD
  @include font-size($code-font-size);
=======
  font-size: $code-font-size;
<<<<<<< HEAD
>>>>>>> b581025... Updating EJS Template
=======
>>>>>>> b581025fadbdd1c5532877325f463d1b99650a7a
=======
  font-size: $code-font-size;
>>>>>>> b695cb8... Updating EJS Template
>>>>>>> 060937b... Rebase
  color: $pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
<<<<<<< HEAD
<<<<<<< HEAD
    @include font-size(inherit);
=======
    font-size: inherit;
<<<<<<< HEAD
>>>>>>> b581025... Updating EJS Template
=======
>>>>>>> b581025fadbdd1c5532877325f463d1b99650a7a
=======
    font-size: inherit;
>>>>>>> b695cb8... Updating EJS Template
>>>>>>> 060937b... Rebase
    color: inherit;
    word-break: normal;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}
